body{
    background-color: beige;
    margin: 0;
    padding-top: 7%;
}
header{
    background-color: gainsboro;
    padding: 2%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
h1{
    font-size: 3vw;
    font-weight: bolder;
}
button{
    margin: 1%;
}
p{
    margin: 2%;
    font-size: 1.5vw;
    font-weight: bolder;
}
a{
    font-size: 1.5vw;
    padding: 4%;
}
li{
    background-color: gainsboro;
}
ul{
}