
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    position: relative;
  }
  
  header img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px; 
    height: auto;
    border-radius: 50%;
  }
  
  section {
    margin: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li::before {
    content: '\2022';
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  
  h3 {
    margin-bottom: 5px;
  }
  
  
  h2 + p {
    margin-top: 5px;
  }
  
 
  h2 + h3 {
    margin-top: 10px;
  }
  
 
  h2 + p + p {
    margin-top: 10px;
  }
  
  h2 + h3 + ul,
  h2 + ul {
    margin-top: 10px;
  }