body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f77373;
    color: #000000;
    text-align: center;
    padding: 40px;
}

h1, h2, p {
    color: #333;
}

section {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

a {
    color: #4285f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Adicione estilos específicos conforme necessário */