

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1vw 0;
}


section {
    display: flex;
    width: 50%;
    margin: 1% auto;
    padding: 1%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.column{
    display:inline-block;
}


#section1{
    background-color: darkgray;
    width: 25%;
    flex: 1;
    border-right: 0.2vw solid #333;
    padding-right: 2%;
    margin-right: 2%;
    text-align: right;
    margin-top: 0;
}


h2{
    text-align: left;
    padding-left: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    font-size: 1.4vw;
}


#section2 {
    width: 100%;
    flex: auto;




}


img {
    margin-top: 10%;
    width: 90%;
    height: auto;
    border-radius: 50%;
}


h1, h2, h3 {
    color: #333;
}
.seccionsParaleles {
    border-bottom: 0.2vw solid #333;
    padding-bottom: 1%;
    margin-top: 1%;
    font-size: 1.4vw;
}
ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
    font-size: 0.9vw;
    margin-left: 2%;


}


ul li {
    margin-bottom: 1%;
}


.education, .experience {
    box-sizing: border-box;


}
