* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Pagina principal*/

.page {
    display: flex;
    flex-direction: row;
    height: 97vh;
    width: 100%;
}

.lateralmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 20%;
}

.barra {
    height: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.barra ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.barra li {
    padding: 10px;
    margin: 10%;
    margin-top: 10%;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 10px;
}

.barra li:hover {
    box-shadow: 0px 0px 3px 0px #000000;
}

.content {
    border: 1px solid black;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}
.marca img{
    width: 30%;
}
.content img{
    width: 30%;
}
#focus{
    box-shadow: 0px 0px 5px 0px black;
    border: 1.5px solid black;
}
/* Contenido menus*/
.exp{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
    margin-left: 2%;
    margin-bottom: 10px;
}

.exp p{
    margin: 0px;
}



.exp ul{
    text-align: start;
    margin: 0px;
}
.exp-hijos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.exp2{
    margin-top: 10px;
}


.formacion{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2%;
    margin-bottom: 10px;
}

.formacion p {
    margin: 0px;
}

.hijoformacion{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.idiomas{
    margin-top: 2%;
}

.infoflex{
    display: flex;
    flex-direction: row;
    text-align: left;
}

.infohijo1{
    padding-right: 25px;
    border-right: 2px solid black;
}

.infohijo2{
    padding-left: 25px;
}

.infohijo p{
    margin: 4px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Modificación: Cambio de dirección de la flexbox a columna */
    .page {
        flex-direction: column;
    }

    .marca {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .marca img{
        width: 10%;
    }

    /* Modificación: Ancho del menú lateral al 100% en pantallas pequeñas */
    .lateralmenu {
        width: 100%;
    }

    /* Modificación: Ajustes adicionales para desplazamiento horizontal */
    .barra {
        align-items: flex-start;
    }

    .barra li {
        margin: 10px 0;
    }

    .content{
       width: 100%; 
    }

    .exp{
        margin-top: 15px;
        margin-bottom: 10px;
    }
}
