body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: rgb(57, 202, 202);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 5px;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

}

.contact-info {
    font-weight: bold;
}

#Perfect{
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 12px; 
}
