body {
    background-color: rgb(255, 225, 243);
    font-family: Arial, sans-serif;
    margin: 20px;
    height: 100%;
    width: 100%;
}

h1,
h2 {
    margin-bottom: 5px;
}

#separation {
    width: 100%;
    height: 20px;
    background-color: white;
}

header {
    text-align: center;
    align-items: center;
}

#name {
    font-size: 50px;
}

main {
    background-color: white;
    width: 100%;
    display: grid;
}

section {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#formacion {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
    bottom: -20px;
}

#trabajo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
    bottom: -70px;
}

#apps-android {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
    bottom: -15px;
}

#persona {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

#aficiones {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;/
}

#idiomas {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;/
}

.subsection {
    margin-bottom: 10px;
}

.date {
    font-style: italic;
}

#imagen {
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* para ajustar la imagen sin que se deforme */
    border-radius: 5px;
    /*redondear bordes */
}